# Core Dependencies
numpy>=1.22.0,<2.0.0
decorator>=4.4.2
imageio>=2.9.0
imageio-ffmpeg>=0.4.5
tqdm>=4.64.1
requests>=2.31.0
moviepy==1.0.3

# Image Processing
Pillow>=9.5.0
proglog>=0.1.10

# Web Framework
flask>=2.0.1
flask-cors>=4.0.0
python-dotenv>=1.0.0

# AI and Machine Learning
openai>=1.0.0
together>=0.2.0

# PyTorch (CPU version)
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.0.1+cpu
torchaudio==2.0.2+cpu

# Audio Processing
edge-tts>=6.1.9
gTTS>=2.5.1
librosa>=0.10.1

# Natural Language Processing
deepfilternet>=0.5.0
cutlet>=0.3.0
unidic-lite>=1.0.8

# Utility
typing-extensions>=4.0.0
pathlib>=1.0.1
aiohttp>=3.8.0


# Optional Dependencies
openai-whisper>=20231117
